requests==2.33.0
duckdb==1.5.1
dbt-core==1.11.7
dbt-duckdb==1.10.1
dagster==1.12.20
dagster-webserver==1.12.20
dagster-dbt==0.28.20
dagster-duckdb==0.28.20
streamlit==1.55.0
plotly==6.6.0
pandas==2.3.3
chess==1.11.2
python-dotenv==1.2.2
pytest==9.0.2